// couleurs, tailles, polices...

$grey-background: #EAEAEA;
$light-grey-background: #f3f3f3;
$dark-grey: #7E7E7E;
$black: #353535;
$purple: #9356DC;
$pink: #FF79DA;
$dark-green: #008766;
$light-green: #99E2D0;


$section-title: 24px;
$subtitle: 18px;
$paragraph: 17px;
$section-title-weight: 700;

$title-font: 'Shrikhand', sans-serif;
$paragraph-font: 'Roboto', sans-serif;