// couleurs, tailles, polices...

$grey-background: #EAEAEA;
$light-grey-background: #f3f3f3;
$dark-grey: #7E7E7E;
$black: #353535;
$purple: #9356DC;
$pink: #FF79DA;
$dark-green: #008766;
$light-green: #99E2D0;


$section-title: 1.5rem;
$restaurant-name: 1.7rem;
$subtitle: 1.2rem;
$paragraph: 1rem;
$section-title-weight: 700;
$large-title: 2.5rem;

$title-font: 'Shrikhand', sans-serif;
$paragraph-font: 'Roboto', sans-serif;