@use "variables";
@use "mixins";

body {
    background-image: url(../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-position: center 62px;
    background-repeat: no-repeat;
    background-size: contain;
}

.restaurant-header {
    @include mixins.full-width;
    @include mixins.center;
    padding: 15px 0;
        &__logo {
            height: 2rem;
        }
        &__icon {
            font-size: variables.$subtitle;
            position: absolute;
            top: 20px;
            left: 30px;
        }
}

.menu {
    width: 100%;
    background-color: variables.$light-grey-background;
    border-radius: 30px 30px 0 0;
    margin-top: 230px;
    padding: 35px 17px;
    &__title {
        font-size: variables.$paragraph;
        font-weight: 300;
        text-transform: uppercase; 
        margin-top: 40px;
    }
    &__bar {
        display: block;
        background-color: variables.$light-green;
        width: 40px;
        height: 3px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    &__dish {
        @include mixins.rectangle;
        // padding: 14px;
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
        cursor: pointer;
        &-text {
            padding: 14px;
        }
        &-name {
            font-size: variables.$subtitle;
            font-weight: 500;
            margin-bottom: 5px;
        }
        &-description {
            font-size: variables.$paragraph;
            font-weight: 300;
        }
        &-animation {
            width: 30%;
            display: flex;
            align-items: flex-end;
            justify-content: end;
        }
        &-price {
            display: flex;
            align-items: flex-end;
            font-weight: 700;
            padding-bottom: 15px;
        }
        &-check {
            width: 0;
            margin-left: 10px;
            background-color: variables.$light-green;
            border-radius: 0 20px 20px 0;
            transition: all 1s ease-in-out;
            &-icon {
                display: none;
                > i {
                    font-size: 25px;
                    color: white;
                }
            }
        }
    }
}

label:has(input:checked) .menu__dish-check {
    display: block;
    width: 70%;
    height: 100%;
    transform: scale(1);
    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

input {
    display: none;
}


.restaurant {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__name {
        font-family: variables.$title-font;
        font-size: variables.$restaurant-name;
    }
    &__icon {
        font-size: 22px;
        margin-right: 15px;
    }
}