@use "variables";
@use "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: variables.$paragraph-font;
    text-decoration: none;
}

body {
    background-color: variables.$grey-background;
}

a {
    color: black;
}

.loader {
    z-index: 1;
    position: fixed;
    inset: 0;
    @include mixins.center;
    background-color: variables.$light-grey-background;
    gap: 50px;
    animation: hiddeloader 2s ease-in-out forwards;
    animation-delay: 1.5s;
    &__square {
        z-index: 2;
        height: 50px;
        width: 50px;
        background: variables.$gradient;
        animation: bounce 1s ease-in-out forwards;
        &:nth-child(1) {
            animation-delay: 0.3s;
        }
        &:nth-child(2) {
            animation-delay: 0.6s;
        }
        &:nth-child(3) {
            animation-delay: 0.9s;
        }
    }
}



//HEADER

.header {
    &__logo {
        @include mixins.full-width;
        @include mixins.center;
        padding: 15px 0;
        background-color: white;
        box-shadow: 0 3px 10px 0 #00000026;
        &-img {
            height: 35px;
        }
    }
}


//MAIN

.location {
    @include mixins.full-width;
    @include mixins.flex-direction(row);
    @include mixins.center;
    height: 50px;
    gap: 17px;
    box-shadow: 0px 4px 10px 0px #00000040;
}

.explore {
    @include mixins.flex-direction(column);
    @include mixins.center;
    padding: 40px;
    text-align: center;
    &__title {
        font-size: variables.$section-title;
        max-width: 275px;
    }
    &__subtitle {
        font-size: variables.$subtitle;
        font-weight: 300;
        padding: 20px 0;
    }
    &__button {
        @include mixins.large-button;
        transition: opacity 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
            &:hover {
                opacity: 0.7;
                box-shadow: 0px 6px 16px 0px #00000040;
            }
    }
            
}

.steps {
    padding: 20px;
    background-color: white;
    &__title {
        font-size: variables.$section-title;
        padding: 26px 0;
    }
    &__box {
        @include mixins.flex-direction(row);
        @include mixins.rectangle;
        padding: 28px 0;
        background-color: variables.$light-grey-background;
        position: relative;
        margin-left: 8px;
            &-number {
                @include mixins.round-button;
                position: absolute;
                left: -12px;
            }
            &-icon {
                color: variables.$dark-grey;
                padding: 0 30px;
            }
            &-purple {
                    color: variables.$purple;
                }
            &-text {
                font-weight: 500;
            }
        }
}

//RESTAURANTS

.restaurants {
    padding: 60px 20px;
    background-color: variables.$grey-background;
    &__title {
        font-size: variables.$section-title;
        margin-bottom: 20px;
    }
    &__cards-img-container {
        position: relative;
        height: 70%;
    }
    &__wrapper {
        position: relative;
        }
    &__cards {
        @include mixins.card;
        margin-bottom: 20px;
        &-img {
            width: 100%;
            height: 100%;
            border-radius: 15px 15px 0 0;
            object-fit: cover;
        }
        &-new {
            @include mixins.center;
            position: absolute;
            top: 10px;
            right: 10px;    
            padding: 7px 9px;
            border-radius: 2px;
            width: 80px;
            background-color: variables.$light-green;
            color: variables.$dark-green;
            font-size: 14px;
        }
        &-text-container {
            @include mixins.flex-direction(row);
            justify-content: space-between;
            padding: 10px;
            height: 30%;
            color: black;
            border-radius: 0 0 15px 15px;
        }
        &-title {
            font-size: variables.$subtitle;
            margin-bottom: 5px;
        }
        &-location {
            font-size: variables.$paragraph;
            font-weight: 300;
        }
        &-heart {
            @include mixins.heart;
            &-full {
                @include mixins.heart;
                background: variables.$gradient;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity: 0;
                &:hover {
                    opacity: 1;
                }
            }
            &:hover {
                opacity: 0;
            }
        }
            
    }
}


//FOOTER

.footer {
    background-color: variables.$black;
    padding: 25px 0;
    &__logo svg {
        height: 27px;
        color: white;
        margin-bottom: 16px;
    }
    &__list {
        color: white;
        padding: 0 20px;
        list-style: none;
    }
    &__item {
        margin-bottom: 7px;
        @include mixins.flex-direction(row);
        &-container {
            width: 23px;
        }
        &-icon {
            margin-right: 6px;
            font-size: 13px;
        }
        a {
            color: white;
        }
    }
}

// PAGE DES RESTAURANTS


.restaurant-header {
    @include mixins.full-width;
    @include mixins.center;
    padding: 15px 0;
        &__logo {
            height: 2rem;
        }
        &__icon {
            font-size: variables.$subtitle;
            position: absolute;
            top: 20px;
            left: 30px;
        }
}

.menu {
    width: 100%;
    background-color: variables.$light-grey-background;
    border-radius: 30px 30px 0 0;
    margin-top: -40px;
    padding: 35px 17px;
    z-index: 3;
    position: relative;
    &__img {
        z-index: 0;
        & img {
            height: 300px;
            width: 100%;
            object-fit: cover;
        }
    }
    &__section {
        opacity: 0;
        animation: appear 2s forwards;
        &:nth-child(1) {
            animation-delay: 0.5s;
        }
        &:nth-child(2) {
            animation-delay: 1s;
        }
        &:nth-child(3) {
            animation-delay: 1.5s;
        }
    }
    &__title {
        font-size: variables.$paragraph;
        font-weight: 300;
        text-transform: uppercase; 
        margin-top: 40px;
    }
    &__bar {
        display: block;
        background-color: variables.$light-green;
        width: 40px;
        height: 3px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    &__dish {
        @include mixins.rectangle;
        background-color: white;
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
        cursor: pointer;
        &-text {
            padding: 14px;
            @include mixins.flex-direction(column);
            @include mixins.ellipsis;
        }
        &-name {
            font-size: variables.$subtitle;
            font-weight: 500;
            margin-bottom: 5px;
            @include mixins.ellipsis;
        }
        &-description {
            font-size: variables.$paragraph;
            font-weight: 300;
            @include mixins.ellipsis;
        }
        &-animation {
            width: 150px;
            display: flex;
            align-items: flex-end;
            justify-content: end;
        }
        &-price {
            display: flex;
            align-items: flex-end;
            font-weight: 700;
            padding-bottom: 15px;
        }
        &-check {
            width: 0;
            height: 100%;
            margin-left: 10px;
            background-color: variables.$light-green;
            border-radius: 0 20px 20px 0;
            transition: width 1s ease-in-out;
            &-icon {
                opacity: 0;
                width: 100%;
                height: 100%;
                @include mixins.center;
                > i {
                    font-size: 25px;
                    color: white;
                }
            }
        }
    }
    &
    &__button {
        @include mixins.center;
        button {
            @include mixins.large-button;
            cursor: pointer;
            font-size: variables.$paragraph;
            transition: opacity 0.2s ease-in, box-shadow 0.2s ease-in;
            &:hover {
                opacity: 0.7;
                box-shadow: 0px 6px 16px 0px #00000040;
            }
        }
    }
}

.menu__label:has(input:checked) .menu__dish-check {
    width: 100px;
    &-icon {
        opacity: 1;
    }
}

input {
    display: none;
}


.restaurant {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__name {
        font-family: variables.$title-font;
        font-size: variables.$restaurant-name;
    }
    &__icon {
        font-size: 20px;
        position: absolute;
        top: 45px;
        right: 25px;
        cursor: pointer;
        transition: all 0.4s ease-in-out; 
    }
    &__checkbox:has(input:checked) i {
        background: variables.$gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__checkbox:has(input:checked) i::before {
        content: "\f004";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

@keyframes hiddeloader {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        z-index: -100;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// TABLETTE

@media (min-width: 768px) {
    .header__logo,
    .header__location {
        box-shadow: none;
    }

    .explore {
        background-color: variables.$light-grey-background;
        &__title {
            max-width: none;
            font-size: variables.$large-title;
        }
    }

    .steps {
        @include mixins.center;
    }

    .steps__content {
        max-width: 1024px;
        width: 100%;
        @include mixins.flex-direction(column);
    }

    .steps__wrapper {
        @include mixins.center;
        @include mixins.flex-direction(row);
        gap: 24px;
    }

    .restaurant__icon,
    .restaurant__icon-full {
        right: 330px;
    }

    .restaurant {
        justify-content: center;
        &__icon,
        &__icon-full {
            right: 220px;
        }
    }
}

// DESKTOP

@media (min-width: 1024px) {
    .restaurants {
        @include mixins.center;
    }

    .body {
        background-color: white;
    }

    #wrapper {
        width: 100%;
        @include mixins.center;
    }

    .restaurant__wrapper,
    .menu {
        max-width: 1024px;
        width: 100%;
    }

    .restaurants__cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 100px;
        row-gap: 50px;
    }


    .footer {
        display: flex;
        justify-content: flex-end;
        &__logo {
            display: flex;
            margin: 0 80px 7px 80px;
            > svg {
                height: 27px;
                width: 137px;
                margin: 0;
            }
        }
        &__list {
            @include mixins.flex-direction(row);
                align-items: last baseline;
                gap: 15px;
        }
        &__item {
            max-width: 200px;
        }
        
    }

    .footer > :first-child {
        order: 3;
    }

    .restaurant {
        justify-content: center;
        &__icon,
        &__icon-full {
            right: 350px;
        }
    }
}