* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body {
  background-color: #EAEAEA;
}

a {
  color: black;
}

.loader {
  z-index: 1;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  gap: 50px;
  animation: hiddeloader 1s ease-in-out forwards;
  animation-delay: 1s;
}
.loader__square {
  z-index: 2;
  height: 50px;
  width: 50px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  animation: rotate 1s ease-in-out forwards;
}
.loader__square:nth-child(1) {
  animation-delay: 0.3s;
}
.loader__square:nth-child(2) {
  animation-delay: 0.6s;
}
.loader__square:nth-child(3) {
  animation-delay: 0.9s;
}

@keyframes rotate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
@keyframes hiddeloader {
  from {
    opacity: 1;
  }
  to {
    display: none;
  }
}
.header__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background-color: white;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1490196078);
}
.header__logo-img {
  height: 35px;
}

.location {
  width: 100%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 17px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}

.explore {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}
.explore__title {
  font-size: 1.5rem;
  max-width: 275px;
}
.explore__subtitle {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 20px 0;
}
.explore__button {
  width: 218px;
  height: 50px;
  padding: 13px 18px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  transition: opacity 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
.explore__button:hover {
  opacity: 0.7;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.2509803922);
}

.steps {
  padding: 20px;
  background-color: white;
}
.steps__title {
  font-size: 1.5rem;
  padding: 26px 0;
}
.steps__box {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 28px 0;
  background-color: #f3f3f3;
  position: relative;
  margin-left: 8px;
}
.steps__box-number {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
}
.steps__box-icon {
  color: #7E7E7E;
  padding: 0 30px;
}
.steps__box-text {
  font-weight: 500;
}

.purple {
  color: #9356DC;
}

.restaurants {
  padding: 60px 20px;
  background-color: #EAEAEA;
}
.restaurants__title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.restaurants__cards-img-container {
  position: relative;
  height: 70%;
}
.restaurants__wrapper {
  position: relative;
}
.restaurants__cards {
  width: 100%;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: white;
  margin-bottom: 20px;
}
.restaurants__cards-img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurants__cards-new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 7px 9px;
  border-radius: 2px;
  width: 80px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
}
.restaurants__cards-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 30%;
  color: black;
  border-radius: 0 0 15px 15px;
}
.restaurants__cards-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.restaurants__cards-location {
  font-size: 1rem;
  font-weight: 300;
}
.restaurants__cards-heart {
  font-size: 20px;
  position: absolute;
  top: 205px;
  right: 15px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.restaurants__cards-heart-full {
  font-size: 20px;
  position: absolute;
  top: 205px;
  right: 15px;
  cursor: pointer;
  transition: all 1s ease-in-out;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.restaurants__cards-heart-full:hover {
  opacity: 1;
}
.restaurants__cards-heart:hover {
  opacity: 0;
}

.footer {
  background-color: #353535;
  padding: 25px 0;
}
.footer__logo svg {
  height: 27px;
  color: white;
  margin-bottom: 16px;
}
.footer__list {
  color: white;
  padding: 0 20px;
  list-style: none;
}
.footer__item {
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
}
.footer__item-container {
  width: 23px;
}
.footer__item-icon {
  margin-right: 6px;
  font-size: 13px;
}
.footer__item a {
  color: white;
}

.restaurant-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.restaurant-header__logo {
  height: 2rem;
}
.restaurant-header__icon {
  font-size: 1.2rem;
  position: absolute;
  top: 20px;
  left: 30px;
}

.menu {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 30px 30px 0 0;
  margin-top: -40px;
  padding: 35px 17px;
  z-index: 3;
  position: relative;
}
.menu__img {
  z-index: 0;
}
.menu__img img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.menu__section {
  opacity: 0;
  animation: appear 2s forwards;
}
.menu__section:nth-child(1) {
  animation-delay: 0.5s;
}
.menu__section:nth-child(2) {
  animation-delay: 1s;
}
.menu__section:nth-child(3) {
  animation-delay: 1.5s;
}
.menu__title {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 40px;
}
.menu__bar {
  display: block;
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.menu__dish {
  width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  margin-bottom: 25px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  cursor: pointer;
}
.menu__dish-text {
  padding: 14px;
}
.menu__dish-name {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.menu__dish-description {
  font-size: 1rem;
  font-weight: 300;
}
.menu__dish-animation {
  width: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.menu__dish-price {
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  padding-bottom: 15px;
}
.menu__dish-check {
  width: 0;
  height: 100%;
  margin-left: 10px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  transition: width 1s ease-in-out;
}
.menu__dish-check-icon {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__dish-check-icon > i {
  font-size: 25px;
  color: white;
}
.menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__button button {
  width: 218px;
  height: 50px;
  padding: 13px 18px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  transition: opacity 0.2s ease-in, box-shadow 0.2s ease-in;
}
.menu__button button:hover {
  opacity: 0.7;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.2509803922);
}

label:has(input:checked) .menu__dish-check {
  width: 100px;
}
label:has(input:checked) .menu__dish-check-icon {
  opacity: 1;
}

input {
  display: none;
}

.restaurant {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant__name {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.7rem;
}
.restaurant__icon {
  font-size: 20px;
  position: absolute;
  top: 45px;
  right: 25px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.restaurant__icon:hover {
  opacity: 0;
}
.restaurant__icon-full {
  font-size: 20px;
  position: absolute;
  top: 45px;
  right: 25px;
  cursor: pointer;
  opacity: 0;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s ease-in-out;
}
.restaurant__icon-full:hover {
  opacity: 1;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 768px) {
  .header__logo,
  .header__location {
    box-shadow: none;
  }
  .explore {
    background-color: #f3f3f3;
  }
  .explore__title {
    max-width: none;
    font-size: 2.5rem;
  }
  .steps {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .steps__content {
    max-width: 1024px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .steps__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .restaurant__icon,
  .restaurant__icon-full {
    right: 330px;
  }
  .restaurant {
    justify-content: center;
  }
  .restaurant__icon, .restaurant__icon-full {
    right: 220px;
  }
}
@media (min-width: 1024px) {
  .restaurants {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body {
    background-color: white;
  }
  #wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .restaurant__wrapper,
  .menu {
    max-width: 1024px;
    width: 100%;
  }
  .restaurants__cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 100px;
    row-gap: 50px;
  }
  .footer {
    display: flex;
    justify-content: flex-end;
  }
  .footer__logo {
    display: flex;
    margin: 0 80px 7px 80px;
  }
  .footer__logo > svg {
    height: 27px;
    width: 137px;
    margin: 0;
  }
  .footer__list {
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    gap: 15px;
  }
  .footer__item {
    max-width: 200px;
  }
  .footer > :first-child {
    order: 3;
  }
  .restaurant {
    justify-content: center;
  }
  .restaurant__icon, .restaurant__icon-full {
    right: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
