* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body {
  background-color: #EAEAEA;
}

.header__logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background-color: white;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1490196078);
}
.header__logo-container .header__logo {
  height: 35px;
}

.header__location-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 17px;
  margin-bottom: 6px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}

.explore {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  padding: 40px;
  text-align: center;
}
.explore__title {
  font-size: 1.5rem;
  max-width: 275px;
}
.explore__subtitle {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 20px 0;
}
.explore__button {
  width: 218px;
  height: 50px;
  padding: 13px 18px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  transition: opacity 0.2s ease-in, box-shadow 0.2s ease-in;
}
.explore__button:hover {
  opacity: 0.7;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.2509803922);
}

.steps {
  padding: 20px;
  background-color: white;
}
.steps__title {
  font-size: 1.5rem;
  padding: 26px 0;
}
.steps__box {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 28px 0;
  background-color: #f3f3f3;
  position: relative;
  margin-left: 8px;
}
.steps__box-number {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
}
.steps__box-icon {
  color: #7E7E7E;
  padding: 0 30px;
}
.steps__box-text {
  font-weight: 500;
}

.purple {
  color: #9356DC;
}

.restaurants {
  padding: 60px 20px;
  background-color: #EAEAEA;
}
.restaurants__title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.restaurants__cards-img-container {
  position: relative;
  height: 70%;
}
.restaurants__cards {
  width: 100%;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: white;
  margin-bottom: 20px;
}
.restaurants__cards-img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurants__cards-new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 7px 9px;
  border-radius: 2px;
  width: 80px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
}
.restaurants__cards-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 30%;
  color: black;
  border-radius: 0 0 15px 15px;
}
.restaurants__cards-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.restaurants__cards-location {
  font-size: 1rem;
  font-weight: 300;
}
.restaurants__cards-heart {
  height: 20px;
  margin-right: 10px;
}
.restaurants__cards-heart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #353535;
  padding: 25px 0;
}
.footer__logo {
  height: 27px;
  color: white;
  margin-bottom: 16px;
}
.footer__list {
  color: white;
  padding: 0 20px;
  list-style: none;
}
.footer__list-container {
  width: 23px;
}
.footer__list-link {
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
}
.footer__list-icon {
  margin-right: 6px;
  font-size: 13px;
}

.header__restaurant {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  position: relative;
}
.header__restaurant-logo {
  height: 2rem;
}
.header__restaurant-icon {
  font-size: 1.2rem;
  position: absolute;
  top: 20px;
  left: 30px;
}

.restaurant__picture {
  width: 100%;
  z-index: 1;
}

.main {
  position: relative;
}

.menu__container {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 30px 30px 0 0;
  position: absolute;
  top: 220px;
  padding: 35px 17px;
}
.menu__container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 40px 0;
}
.menu__container-button > button {
  width: 218px;
  height: 50px;
  padding: 13px 18px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: opacity 0.2s ease-in, box-shadow 0.2s ease-in;
}
.menu__container-button > button:hover {
  opacity: 0.7;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.2509803922);
}

.restaurant__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant__info-name {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.7rem;
}
.restaurant__info-icon {
  font-size: 22px;
  margin-right: 15px;
}

.section__menu-title {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 40px;
}
.section__menu-bar {
  display: block;
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.section__menu-dish {
  width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.section__menu-dish h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.section__menu-dish h4 {
  font-size: 1rem;
  font-weight: 300;
}
.section__menu-price {
  display: flex;
  align-items: last baseline;
  font-weight: 700;
}

@media (min-width: 768px) {
  .header__logo-container,
  .header__location-container {
    box-shadow: none;
  }
  .explore__title {
    max-width: none;
    font-size: 2.5rem;
  }
  .steps {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .steps__content {
    max-width: 1024px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .steps__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
@media (min-width: 1024px) {
  .restaurants {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .restaurant__wrapper {
    max-width: 1024px;
    width: 100%;
  }
  .restaurants__cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 100px;
    row-gap: 50px;
  }
  .footer {
    display: flex;
    justify-content: flex-end;
  }
  .footer__logo {
    height: 27px;
    width: 137px;
    margin: 0;
  }
  .footer__logo-container {
    display: flex;
    margin: 0 80px 7px 80px;
  }
  .footer__list {
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    gap: 15px;
  }
  .footer__list-link {
    max-width: 200px;
  }
  .footer > :first-child {
    order: 3;
  }
}

/*# sourceMappingURL=style.css.map */
